<h2 class="text-2xl leading-tight my-3">Employees</h2>
<table class="table p-4 bg-white shadow rounded-lg w-full text-left">
  <thead>
    <tr>
      <th
        class="
          border-b-2
          p-4
          dark:border-dark-5
          whitespace-nowrap
          font-bold
          text-gray-900
        "
      >
        First name
      </th>
      <th
        class="
          border-b-2
          p-4
          dark:border-dark-5
          whitespace-nowrap
          font-bold
          text-gray-900
        "
      >
        Last name
      </th>
      <th
        class="
          border-b-2
          p-4
          dark:border-dark-5
          whitespace-nowrap
          font-bold
          text-gray-900
        "
      >
        Email
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-gray-700" *ngFor="let employee of employees">
      <td class="border-b-2 p-4 dark:border-dark-5">
        {{ employee.firstName }}
      </td>
      <td class="border-b-2 p-4 dark:border-dark-5">{{ employee.lastName }}</td>
      <td class="border-b-2 p-4 dark:border-dark-5">{{ employee.emailId }}</td>
    </tr>
  </tbody>
</table>
