<h2 class="my-3 text-2xl leading-tight">Employees</h2>
<table class="table w-full p-4 text-left bg-white rounded-lg shadow">
  <thead>
    <tr>
      <th
        class="
          p-4
          font-bold
          text-gray-900
          border-b-2
          dark:border-dark-5
          whitespace-nowrap
        "
      >
        First name
      </th>
      <th
        class="
          p-4
          font-bold
          text-gray-900
          border-b-2
          dark:border-dark-5
          whitespace-nowrap
        "
      >
        Last name
      </th>
      <th
        class="
          p-4
          font-bold
          text-gray-900
          border-b-2
          dark:border-dark-5
          whitespace-nowrap
        "
      >
        Email
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-gray-700" *ngFor="let employee of employees">
      <td class="p-4 border-b-2 dark:border-dark-5">
        {{ employee.firstName }}
      </td>
      <td class="p-4 border-b-2 dark:border-dark-5">{{ employee.lastName }}</td>
      <td class="p-4 border-b-2 dark:border-dark-5">{{ employee.emailId }}</td>
    </tr>
  </tbody>
</table>
